<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    
    <!-- Set the Character set for the page -->
    <meta charset="utf-8">
    
    <!-- Let the page adapt to client device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Link to external resource (css, search, etc.) -->
    <!-- Link to Bootstrap CSS in this case -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Assign Directory</title>
</head>

<body>
    <div class="container">
        <h2 class="mt-4">Subject: <span th:text="${subject.name}"></span></h2>
        <hr>
        <h4 class="mb-4">Choose a strategy:</h4>
        <div class="row">
            <div class="col-md-12">
                <a th:href="@{/professor/random(subject_id=${subjectId})}" class="btn btn-primary btn-sm mb-3">Random Choice 
                    Strategy</a>
            </div>
            <div class="col-md-12">
                <a th:href="@{/professor/bestAvgGrade(subject_id=${subjectId})}" class="btn btn-primary btn-sm mb-3">Best Avg Grade
                    Strategy</a>
            </div>
            <div class="col-md-12">
                <a th:href="@{/professor/fewestCourses(subject_id=${subjectId})}" class="btn btn-primary btn-sm mb-3">Fewest Courses
                    Strategy</a>
            </div>
            <div class="col-md-12">
                <a th:href="@{/professor/thresholds(subject_id=${subjectId})}" class="btn btn-primary btn-sm mb-3">Thresholds
                    Strategy</a>
            </div>
        </div>
    </div>
</body>


</html>
