<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	
		<h3>Professor Personal Info</h3>
		<hr>
		
		<p class="h4 mb-4">Save Professor </p>
        
        <form th:action="@{/professor/save}"
		 th:object="${professor}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
		    <input type="hidden" th:field="*{userId}" />
			<input type="text" th:field="*{fullName}" placeholder="Full Name" /> <br/><br/>
		    <input type="text" th:field="*{specialty}" placeholder="Specialty" /> <br/><br/>
		    <button type="submit" class="btn btn-info col-2">Save</button> 
		    
			<!-- <a th:href="@{/professor/dashboard}" class="btn btn-primary col-2"> Professor Dashboard</a> -->
						
		</form>
	
		<hr>
	</div>
</body>
</html> 
