<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <title>Supervised Subjects</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Description</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempSubject : ${subjects}">
			
				<td th:text="${tempSubject.name}" />	
				<td th:text="${tempSubject.description}" />	
							
				
			</tr>
		</tbody>		
	</table>

    <hr>
    <a th:href="@{/professor/dashboard}" class="btn btn-primary">Back to Dashboard</a>
</div>
</body>
</html>
