<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Thesis List</title>
</head>

<body>
    <div class="container">
        <h3>Thesis List</h3>
        <hr>
        <h4>Thesis: <span th:text="${thesisId}"></span></h4>
        <table class="table table-bordered table-striped">
	    	<thead class="thead-dark">
	    		<tr>
	    			<th>Thesis Title</th>
	    			<th>Student Name</th>
	    			<th>Implementation Grade</th>
	    			<th>Report Grade</th>
	    			<th>Presentation Grade</th>
	    			<th>Average Grade</th>
	    			<th>Action</th>
	    		</tr>
	    	</thead>
	    	
	    	<tbody>
	    		<tr th:each="tempThesis : ${thesis}">
	    		
	    			<td th:text="${tempThesis.thesisTitle}" />	
	    			<td th:text="${tempThesis.assignedStudentName}" />	
	    			<td th:text="${tempThesis.implementationGrade}" />	
	    			<td th:text="${tempThesis.reportGrade}" />	
	    			<td th:text="${tempThesis.presentationGrade}" />
	    			<td th:text="${tempThesis.averageGrade}" />
	    			<td>
	    				<!-- Add "applications" button/link -->			
						<a th:href="@{/professor/setThesisGrades(thesisId=${tempThesis.id})}"
						   class="btn btn-primary btn-sm ">
							Set Grades
						</a>
						<!-- Add "applications" button/link -->			
						<a th:href="@{/professor/calculate(thesisId=${tempThesis.id})}"
						   class="btn btn-danger btn-sm">
							Calculate Thesis Grade
						</a>  
					</td>		
	    			
	    		</tr>
	    	</tbody>		
	    </table>

        <a th:href="@{/professor/dashboard}" class="btn btn-primary col-2"> Professor Dashboard</a>
    </div>

    <!-- Link to Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gmoub7SM6nGz8HScj4R80p/8+QFb8l7y5h6" crossorigin="anonymous"></script>
</body>


</html>

